<%- include('../../include/dashboard-headcss') %>
<link rel="stylesheet" href="../../assets/css/dashforge.chat.css">

<style>
  .chat-content {
    position: inherit !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
  }

  .chat-content-body {
    position: inherit !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
</style>

<body>
  <%- include('../dashboard-menu') %>

  <div class="content ht-100v pd-0">
    <div class="content-header d-sm-none">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-0">
                              <li class="breadcrumb-item" aria-current="page">My Projects</li>
          <li class="breadcrumb-item active" aria-current="page"><%= project.title %></li>
        </ol>
      </nav>
      <nav class="nav">
        <a href="/client/project-edit/<%= project.id %>" class="btn btn-sm btn-danger d-flex align-items-center mg-r-5">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
            stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
            class="feather feather-edit-2">
            <path d="M17 3a2.828 2.828 0 1 1 4 4L7.5 20.5 2 22l1.5-5.5L17 3z"></path>
          </svg>
          <span class="d-none d-sm-inline mg-l-5"> Edit Project Details</span>
        </a>
      </nav>
    </div><!-- content-header -->

    <div class="content-body">
      <!-- pd-x-0 pd-lg-x-10 pd-xl-x-0 -->
      <div class="container pd-x-0">

        <!-- KPI stats row -->
        <div class="row row-xs align-items-center justify-content-between">

          <div class="col-sm-5 col-lg-2 mg-b-25">
            <div class="card card-body">
              <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-primary tx-semibold mg-b-8">Total Sales</h6>
              <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">$5,600.20</h3>
              </div>
            </div>
          </div>

          <div class="col-sm-5 col-lg-2 mg-b-25">
            <div class="card card-body">
              <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-teal tx-semibold mg-b-8">Total Calls</h6>
              <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">137</h3>
              </div>
            </div>
          </div>

          <div class="col-sm-6 col-lg-3 mg-b-25">
            <div class="card card-body">
              <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-primary tx-semibold mg-b-8">Effective Cost Per Call</h6>
              <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">$230.20</h3>
              </div>
            </div>
          </div>

          <div class="col-sm-5 col-lg-2 mg-b-25">
            <div class="card card-body">
              <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-primary tx-semibold mg-b-8">Total Call Cost</h6>
              <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">$230.20</h3>
              </div>
            </div>
          </div>

          <div class="col-sm-5 col-lg-2 mg-b-25">
            <div class="card card-body">
              <h6 class="tx-uppercase tx-11 tx-spacing-1 tx-pink tx-semibold mg-b-8">Total Agent Cost</h6>
              <div class="d-flex d-lg-block d-xl-flex align-items-end">
                <h3 class="tx-normal tx-rubik mg-b-0 mg-r-5 lh-1">$7,500.20</h3>
              </div>
            </div>
          </div>

        </div><!-- end KPI stats row -->


        <!-- graphs row -->
        <div class="row row-xs align-items-center justify-content-between">
          <!-- call per date -->
          <div class="col-lg-8 col-xl-9">
            <div class="card">
              <div
                class="card-header bd-b-0 pd-t-20 pd-lg-t-25 pd-l-20 pd-lg-l-25 d-flex flex-column flex-sm-row align-items-sm-start justify-content-sm-between">
                <div class="mg-b-10 mg-sm-b-0">
                  <h6 class="mg-b-5 tx-bold">Calls Per Date Period</h6>
                  <p class="tx-12 tx-color-03 mg-b-0">as of 10th to 17th of March 2019</p>
                </div>
                <div class="btn-group mg-t-20 mg-sm-t-0">
                  <button class="btn btn-xs btn-white btn-uppercase">Day</button>
                  <button class="btn btn-xs btn-white btn-uppercase">Week</button>
                  <button class="btn btn-xs btn-white btn-uppercase active">Month</button>
                </div><!-- btn-group -->
              </div>

              <div class="card-body">
                <div class="row align-items-sm-end">

                  <div class="col-lg-7 col-xl-8">
                    <div class="chart-fifteen">
                      <div id="flotChart1" class="flot-chart" style="padding: 0px; position: relative;"><canvas
                          class="flot-base" width="732" height="200"
                          style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 732.656px; height: 200px;"></canvas>
                        <div class="flot-text"
                          style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px; font-size: smaller; color: rgb(84, 84, 84);">
                          <div class="flot-x-axis flot-x1-axis xAxis x1Axis"
                            style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;">
                            <div class="flot-tick-label tickLabel"
                              style="position: absolute; max-width: 91px; top: 188px; left: 6px; text-align: center;">
                              Mar 10</div>
                            <div class="flot-tick-label tickLabel"
                              style="position: absolute; max-width: 91px; top: 188px; left: 101px; text-align: center;">
                              Mar 11</div>
                            <div class="flot-tick-label tickLabel"
                              style="position: absolute; max-width: 91px; top: 188px; left: 195px; text-align: center;">
                              Mar 12</div>
                            <div class="flot-tick-label tickLabel"
                              style="position: absolute; max-width: 91px; top: 188px; left: 289px; text-align: center;">
                              Mar 13</div>
                            <div class="flot-tick-label tickLabel"
                              style="position: absolute; max-width: 91px; top: 188px; left: 383px; text-align: center;">
                              Mar 14</div>
                            <div class="flot-tick-label tickLabel"
                              style="position: absolute; max-width: 91px; top: 188px; left: 477px; text-align: center;">
                              Mar 15</div>
                            <div class="flot-tick-label tickLabel"
                              style="position: absolute; max-width: 91px; top: 188px; left: 571px; text-align: center;">
                              Mar 16</div>
                            <div class="flot-tick-label tickLabel"
                              style="position: absolute; max-width: 91px; top: 188px; left: 666px; text-align: center;">
                              Mar 17</div>
                          </div>
                          <div class="flot-y-axis flot-y1-axis yAxis y1Axis"
                            style="position: absolute; top: 0px; left: 0px; bottom: 0px; right: 0px;">
                            <div class="flot-tick-label tickLabel"
                              style="position: absolute; top: 172px; left: 5px; text-align: right;">0</div>
                            <div class="flot-tick-label tickLabel"
                              style="position: absolute; top: 143px; left: 0px; text-align: right;">15</div>
                            <div class="flot-tick-label tickLabel"
                              style="position: absolute; top: 115px; left: 0px; text-align: right;">30</div>
                            <div class="flot-tick-label tickLabel"
                              style="position: absolute; top: 87px; left: 0px; text-align: right;">45</div>
                            <div class="flot-tick-label tickLabel"
                              style="position: absolute; top: 58px; left: 0px; text-align: right;">60</div>
                            <div class="flot-tick-label tickLabel"
                              style="position: absolute; top: 30px; left: 0px; text-align: right;">75</div>
                            <div class="flot-tick-label tickLabel"
                              style="position: absolute; top: 2px; left: 0px; text-align: right;">90</div>
                          </div>
                        </div><canvas class="flot-overlay" width="732" height="200"
                          style="direction: ltr; position: absolute; left: 0px; top: 0px; width: 732.656px; height: 200px;"></canvas>
                      </div>
                    </div>
                  </div>

                </div>

              </div><!-- card-body -->
            </div>

          </div><!-- end call per date -->

          <!-- call per agent -->
          <div class="col-md-6 col-lg-4 col-xl-3">
            <div class="card">
              <div class="card-header bg-gray-100">
                <h6 class="mg-b-0 tx-semibold ">Calls per Agent</h6>
              </div><!-- card-header -->

              <div class="card-body pd-lg-25">
                <div class="row">

                  <div class="col-sm-6 col-lg-12">
                    <div class="d-flex align-items-center justify-content-between mg-b-5">
                      <h6 class="tx-uppercase tx-10 tx-spacing-1 tx-color-02 tx-semibold mg-b-0">Peter</h6>
                      <span class="tx-10 tx-color-04">65% goal reached</span>
                    </div>
                    <div class="d-flex align-items-end justify-content-between mg-b-5">
                      <h5 class="tx-normal tx-rubik lh-2 mg-b-0">13,596</h5>
                      <h6 class="tx-normal tx-rubik tx-color-03 lh-2 mg-b-0">20,000</h6>
                    </div>
                    <div class="progress ht-4 mg-b-0 op-5">
                      <div class="progress-bar bg-teal wd-65p" role="progressbar" aria-valuenow="65" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                  </div>

                  <div class="col-sm-6 col-lg-12 mg-t-30 mg-sm-t-0 mg-lg-t-30">
                    <div class="d-flex align-items-center justify-content-between mg-b-5">
                      <h6 class="tx-uppercase tx-10 tx-spacing-1 tx-color-02 tx-semibold mg-b-0">Michel</h6>
                      <span class="tx-10 tx-color-04">45% goal reached</span>
                    </div>
                    <div class="d-flex justify-content-between mg-b-5">
                      <h5 class="tx-normal tx-rubik mg-b-0">83,123</h5>
                      <h5 class="tx-normal tx-rubik tx-color-03 mg-b-0"><small>250,000</small></h5>
                    </div>
                    <div class="progress ht-4 mg-b-0 op-5">
                      <div class="progress-bar bg-orange wd-45p" role="progressbar" aria-valuenow="45" aria-valuemin="0"
                        aria-valuemax="100"></div>
                    </div>
                  </div>

                  <div class="col-sm-6 col-lg-12 mg-t-30">
                    <div class="d-flex align-items-center justify-content-between mg-b-5">
                      <h6 class="tx-uppercase tx-10 tx-spacing-1 tx-color-02 tx-semibold mg-b-0">Lewis</h6>
                      <span class="tx-10 tx-color-04">85% goal reached</span>
                    </div>
                    <div class="d-flex justify-content-between mg-b-5">
                      <h5 class="tx-normal tx-rubik mg-b-0">28.50%</h5>
                      <h5 class="tx-normal tx-rubik tx-color-03 mg-b-0"><small>30.50%</small></h5>
                    </div>
                    <div class="progress ht-4 mg-b-0 op-5">
                      <div class="progress-bar bg-primary wd-85p" role="progressbar" aria-valuenow="85"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>

                </div><!-- row -->

              </div><!-- card-body -->

            </div><!-- card -->
          </div><!-- end call per agent -->

        </div><!-- end graphs row -->


        <!-- agents row -->
        <div class="row row-xs">

          <div class="col-lg-8 col-xl-12 mg-t-25">
            <div class="card">
              <div class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between bg-gray-100">
                <h6 class="tx-uppercase tx-semibold mg-b-0">Assigned Agents</h6>
                <nav class="nav nav-with-icon tx-13">
                  <a href="/client/agents/list" class="nav-link">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                      stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                      class="feather feather-plus">
                      <line x1="12" y1="5" x2="12" y2="19"></line>
                      <line x1="5" y1="12" x2="19" y2="12"></line>
                    </svg>
                    Add Agent
                  </a>
                </nav>
              </div>


              <div class="card-body pd-y-15 pd-x-25">
                <div class="table-responsive">
                  <table class="table table-borderless table-sm tx-13 tx-nowrap mg-b-0">
                    <thead>
                      <tr class="tx-10 tx-spacing-1 tx-color-03 tx-uppercase">
                        <th>Name</th>
                        <th class="text-center">Location</th>
                        <th class="text-center">Assigned Time</th>
                        <th class="text-center">Remaining Days / contract</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>

                      <% project.agents.forEach(function (agent, idx) { %>
                      <tr>
                        <td class="tx-medium">
                          <a href="/client/project/agent/<%= agent.id %>" class="link-01"><%= agent.name %></a>
                        </td>

                        <td class="text-center"><%= agent.state + ' / ' + agent.country %></td>
                        <td class="text-center"><%= agent.assignedTime %></td>
                        <td class="text-center"><%= agent.remainingTime %></td>
                        <td class="align-middle text-center">
                          <a href="" class="dropdown-link" data-toggle="dropdown" aria-expanded="false"><i
                              class="icon ion-md-more"></i></a>
                          <div class="dropdown-menu dropdown-menu-right">
                            <a href="#modalAgentTime" data-toggle="modal" class="dropdown-item details">Extend Time</a>
                            <a href="#modalAgentRemove" data-toggle="modal" class="dropdown-item details">Remove</a>
                          </div>
                        </td>

                      </tr>
                      <% }); %>

                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </div><!-- end agents row -->

        <!-- calls row -->
        <div class="row row-xs">
          <div class="col-lg-8 col-xl-12 mg-t-25">
            <div class="card">
              <div class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between bg-gray-100">
                <h6 class="tx-uppercase tx-semibold mg-b-0">Outbound Calls History</h6>
              </div>

              <div class="card-body pd-y-15 pd-x-25">
                <div class="table-responsive">
                  <table class="table table-borderless table-sm tx-13 tx-nowrap mg-b-0">
                    <thead>
                      <tr class="tx-10 tx-spacing-1 tx-color-03 tx-uppercase text-center">
                        <th class="text-left wd-200">Date</th>
                        <th>Phone Number</th>
                        <th>Duration (min)</th>
                        <th>Cost ($)</th>
                        <th>Listen</th>
                        <th>Status</th>
                        <th>Notes</th>
                      </tr>
                    </thead>
                    <tbody>

                      <% project.calls.forEach(function (call) { %>
                      <tr class="text-center tx-medium">
                        <td class="text-left tx-normal"><%= call.date.toLocaleString() %></td>
                        <td class=""><%= call.number %></td>
                        <td class=""><%= call.duration %></td>
                        <td class="">$<%= call.cost %></td>
                        <td class=""><%= call.listen %></td>
                        <td class="">
                          <%= ["", "Completed", "Call back late", "Didn't answer", "Phone off", "Not Called"][call.status] %>
                        </td>

                        <td class=""><%= call.notes %></td>
                      </tr>
                      <% }); %>

                    </tbody>
                  </table>
                </div>
              </div>

            </div>

          </div>
        </div><!-- end calls row -->

        <!-- chat row -->
        <div class="row row-xs">
          <div class="col-lg-8 col-xl-12 mg-t-25">

            <div class="card">
              <div class="card-header pd-y-15 pd-x-20 d-flex align-items-center justify-content-between bg-gray-100">
                <h6 class="tx-uppercase tx-semibold mg-b-0">Chat Room</h6>
              </div>

              <div class="card-body pd-y-15 pd-x-25">

                <div class="chat-content">
                  <div class="chat-content-body ps ps--active-y">
                    <div class="chat-group">

                      <div class="chat-group-divider">February 20, 2019</div>
                      <div class="media">
                        <div class="avatar avatar-sm avatar-online"><span class="avatar-initial rounded-circle">k</span>
                        </div>
                        <div class="media-body">
                          <h6>katherine <small>Today at 1:30am</small></h6>

                          <p>Hello everyone, this is my first message to this channel</p>
                          <p>anybody here?</p>
                        </div><!-- media-body -->
                      </div><!-- media -->
                      <div class="chat-group-divider">February 21, 2019</div>
                      <div class="media">
                        <div class="avatar avatar-sm avatar-online"><span class="avatar-initial rounded-circle">k</span>
                        </div>
                        <div class="media-body">
                          <h6>katherine <small>Yesterday at 4:10am</small></h6>

                          <p>I'm back once again!!</p>
                          <p>It is a long established fact that a reader will be distracted by the readable
                            content of a page when looking at its layout.</p>
                          <p>There are many variations of passages of Lorem Ipsum available, but the majority
                            have suffered alteration in some form, by injected humour, or randomised words
                            which don't look even slightly believable.</p>
                        </div><!-- media-body -->
                      </div><!-- media -->
                      <div class="media">
                        <div class="avatar avatar-sm avatar-online"><span class="avatar-initial rounded-circle">M</span>
                        </div>
                        <div class="media-body">
                          <h6>Michel <small>Yesterday at 4:15am</small></h6>

                          <p>Excepteur sint occaecat cupidatat non proident</p>
                          <p>Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse...</p>
                        </div><!-- media-body -->
                      </div><!-- media -->
                      <div class="chat-group-divider">February 22, 2019</div>

                      <div class="media">
                        <div class="avatar avatar-sm avatar-online"><span class="avatar-initial rounded-circle">k</span>
                        </div>
                        <div class="media-body">
                          <h6>katherine <small>Today at 10:05am</small></h6>

                          <p>I'm back once again!!</p>
                          <p>Et harum quidem rerum facilis est et expedita distinctio.</p>
                          <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo
                            minus id quod maxime placeat facere possimus.</p>
                        </div><!-- media-body -->
                      </div><!-- media -->
                    </div>
                    <div class="ps__rail-x" style="left: 0px; top: 0px;">
                      <div class="ps__thumb-x" tabindex="0" style="left: 0px; width: 0px;"></div>
                    </div>
                    <div class="ps__rail-y" style="top: 0px; height: 394px; right: 0px;">
                      <div class="ps__thumb-y" tabindex="0" style="top: 0px; height: 246px;"></div>
                    </div>
                  </div><!-- chat-content-body -->

                  <div class="chat-content-footer">
                    <a href="" data-toggle="tooltip" title="" class="chat-plus" data-original-title="Add File"><svg
                        xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                        stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                        class="feather feather-plus">
                        <line x1="12" y1="5" x2="12" y2="19"></line>
                        <line x1="5" y1="12" x2="19" y2="12"></line>
                      </svg></a>
                    <input type="text" class="form-control align-self-center bd-0" placeholder="Message">
                    <nav>
                      <a href="" data-toggle="tooltip" title="" data-original-title="Add GIF"><svg
                          xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          class="feather feather-image">
                          <rect x="3" y="3" width="18" height="18" rx="2" ry="2"></rect>
                          <circle cx="8.5" cy="8.5" r="1.5"></circle>
                          <polyline points="21 15 16 10 5 21"></polyline>
                        </svg></a>

                      <a href="" data-toggle="tooltip" title="" data-original-title="Add Smiley"><svg
                          xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                          stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                          class="feather feather-smile">
                          <circle cx="12" cy="12" r="10"></circle>
                          <path d="M8 14s1.5 2 4 2 4-2 4-2"></path>
                          <line x1="9" y1="9" x2="9.01" y2="9"></line>
                          <line x1="15" y1="9" x2="15.01" y2="9"></line>
                        </svg></a>

                      <a href=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                          fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                          stroke-linejoin="round" class="feather feather-mic">
                          <path d="M12 1a3 3 0 0 0-3 3v8a3 3 0 0 0 6 0V4a3 3 0 0 0-3-3z"></path>
                          <path d="M19 10v2a7 7 0 0 1-14 0v-2"></path>
                          <line x1="12" y1="19" x2="12" y2="23"></line>
                          <line x1="8" y1="23" x2="16" y2="23"></line>
                        </svg></a>
                    </nav>
                  </div><!-- chat-content-footer -->
                </div><!-- chat-content -->

              </div>
            </div>

          </div>

        </div><!-- end chat row -->


      </div><!-- container -->
    </div><!-- content-body -->
  </div><!-- content -->

  <div class="modal fade effect-scale" id="modalAgentTime" tabindex="-1" role="dialog" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body pd-20 pd-sm-30">
          <button type="button" class="close pos-absolute t-15 r-20" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>

          <h5 class="tx-18 tx-sm-20 mg-b-30">Extend Agent Time</h5>

          <div class="mg-t-20">
            <label class="d-block">Assigned Time:</label>
            <input class="form-control" placeholder="" value="15" />
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-primary">Save</button>
        </div><!-- modal-footer -->
      </div><!-- modal-content -->
    </div><!-- modal-dialog -->
  </div>


  <div class="modal hide fade" id="modalAgentRemove" tabindex="-1" role="dialog" style="display: none;"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you to remove this agent from current project ?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Confirm</button>
          <button type="button" class="btn" data-dismiss="modal">Cancel</button>
        </div>
      </div>
    </div>
  </div>


  <%- include('new-project') %>

  <%- include('../../include/dashboard-footer-scripts') %>

  <script>
    $(function () {
      'use strict'

      $.plot('#flotChart1', [{
        data: df1,
        color: '#69b2f8'
      }, /*{
  data: df3,
  color: '#0168fa',
  lines: {
    show: true,
    lineWidth: 1.5
  },
  bars: { show: false }
}*/], {
        series: {
          shadowSize: 0,
          bars: {
            show: true,
            lineWidth: 0,
            barWidth: .5,
            fill: 1
          }
        },
        grid: {
          color: '#c0ccda',
          borderWidth: 0,
          labelMargin: 10
        },
        yaxis: {
          show: true,
          max: 90,
          tickSize: 15
        },
        xaxis: {
          color: 'transparent',
          show: true,
          max: 37,
          ticks: [[0, 'Mar 10'], [5, 'Mar 15'], [10, 'Mar 20'], [15, 'Mar 25'], [20, 'Avr 1'], [25, 'Avr 05'], [30, 'Avr 10'], [35, 'Avr 15']]
        }
      });

      // Donut chart
      $('.peity-donut').peity('donut');


      $.plot('#flotChart2', [{
        data: df3,
        color: '#0168fa',
        curvedLines: { apply: true }
      }], {
        series: {
          shadowSize: 0,
          lines: {
            show: true,
            lineWidth: 1.5,
            fill: .05
          }
        },
        grid: {
          borderWidth: 0,
          labelMargin: 0
        },
        yaxis: {
          show: false,
          max: 55
        },
        xaxis: {
          show: true,
          color: 'rgba(131,146,165,.08)',
          min: 48,
          max: 102,
          tickSize: 5
        }
      });
    })

    // Horizontal bar chart
    var ctx2 = document.getElementById('chartBar2').getContext('2d');
    new Chart(ctx2, {
      type: 'horizontalBar',
      data: {
        labels: ['Project 1', 'Project 2', 'Project 3'],
        datasets: [{
          data: [90, 60, 50, 95, 50, 60],
          backgroundColor: ['#65e0e0', '#69b2f8', '#6fd39b', '#f77eb9', '#fdb16d', '#c693f9']
        }]
      },
      options: {
        maintainAspectRatio: false,
        responsive: true,
        legend: {
          display: false,
          labels: {
            display: false
          }
        },
        layout: {
          padding: {
            left: 5
          }
        },
        scales: {
          yAxes: [{
            gridLines: {
              display: false
            },
            barPercentage: 0.5,
            ticks: {
              beginAtZero: true,
              fontSize: 13,
              fontColor: '#182b49',
              fontFamily: 'IBM Plex Sans'
            }
          }],
          xAxes: [{
            gridLines: {
              color: '#e5e9f2'
            },
            ticks: {
              beginAtZero: true,
              fontSize: 10,
              fontColor: '#182b49',
              max: 100
            }
          }]
        }
      }
    });
  </script>


</body>

</html>